/* Universal Styles */
button:focus,
input:focus {
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: #2B303C;
  background-image: url('');
  background-size: cover;
  overflow: hidden;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

/* Text Editor Switch */
#code-area {
  padding: 20px;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#text-area {
  margin: 20px;
  width: 100%;
  height: 100%;
  display: block;
}

/* Window Styling */
.window {
  position: fixed;
  width: 540px;
  height: 540px;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
  opacity: 1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6),
    0 22px 70px 4px rgba(0, 0, 0, 0.56),
    0 0 0 1px rgba(0, 0, 0, 0.3);
}

.window.-show {
  opacity: 1
}

.window .window-bar {
  position: relative;
  height: 30px;
  background-color: #E4E3E3;
  padding: 0px 15px 0 10px;
  cursor: -webkit-grab;
}

.window .window-bar:active,
.window .window-bar:focus {
  cursor: -webkit-grabbing;
}

.window .window-bar span {
  background-color: red;
  width: 15px;
  height: 15px;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin: 9px 3px
}

.window .window-bar span.close {
  background-color: #D73234;
  cursor: pointer;
}

.window .window-bar span.reduce {
  background-color: #E9B427
}

#script-area {
  width: 100%;
  height: 100%;
  font-size: 1em;
}


.draggable {
  position: fixed;
  width: 540px;
  height: 540px;
  background-color: #FFF;
  border-radius: 10px;
  overflow: hidden;
}

.draggable.is-pointer-down {
  z-index: 2;
  /* above other draggies */
}

.draggable.is-dragging {
  opacity: 0.7;
}

.container {
  height: 100vh;
  width: 100vw;

  z-index: 0;
}

.text-edit-content {
  height: 100%;
}

.browser-content {
  height: 100%;
}

.text-edit-options {
  background-color: #E4E3E3;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h4 {
  display: inline;
  font-family: 'Varela Round', sans-serif;
  font-weight: 100;
  color: #2B303C;
  font-size: 14px;
  position: relative;
  left: 200px;
  top: -12px;
}

#desktop-widget {
  position: absolute;
  right: 1%;
  top: 2%;
  color: #fff;
  font-size: 7em;
  font-family: 'Varela Round', sans-serif;
  z-index: -1;
}

/* switch */

.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "Aa";
  color: #2196F3;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:checked+.slider:before {
  color: #2B303C;
  content: "</>";
  font-size: 12px;
  font-weight: 500;
}

input:checked+.slider {
  background-color: #2B303C;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: 'Text';
  color: white;
  display: block;
  position: absolute;
  /* transform: translate(-50%,-50%); */
  top: 22%;
  left: 45%;
  font-size: 16px;
  font-family: 'Varela Round', sans-serif;
}

input:checked+.slider:after {
  content: 'Code';
  left: 10%;
}

/*--------- END --------*/


.increase-font,
.decrease-font {
  width: 40px;
  height: 30px;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: #2196F3;
  border-radius: 16px;
  font-weight: 100;
  border: 0;
  cursor: pointer;
}

.font-picker {
  width: 120px;
  height: 30px;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  color: #2196F3;
  border-radius: 26px;
  font-weight: 100;
  border: 0;
  cursor: pointer;
}

/* Dock Styling */
#dock-frame {
  position: fixed;
  bottom: 0;
  left: 15vw;
  width: 70%;
  height: 90px;
  background-color: #E4E3E3;
  border: 0;
  border-radius: 16px 16px 0 0;
  opacity: 0.9;
}

#dock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: bottom;
  margin-top: 5px;
}

.icon {
  background-color: #2B303C;
  width: 80px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 40px;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}

.icon:hover {
  background-color: #2196F3;
}

/* default app state */
#text-editor-app {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
}

#browser-app {
  display: none;
  position: fixed;
  top: 5%;
  left: 15%;
  height: 600px;
}

#settings-app {
  display: none;
  position: fixed;
  top: 20%;
  left: 65%;
  background-color: #E4E3E3;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
}

#calculator-app {
  display: none;
  position: fixed;
  top: 20%;
  right: 2%;
  height: 650px;
}

#task-tracker-app {
  display: none;
  position: fixed;
  top: 20%;
  left: 2%;
}

#timer-app {
  display: none;
  position: fixed;
  top: 20%;
  left: 60%;
  height: 290px;
  width: 400px;
}

/* Timer Style */
.timer-content {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-family: 'Varela Round', sans-serif;
  font-size: 10em;
  color: #FFF;
}

.timer-btn {
  background-color: #2B303C;
  color: #fff;
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.timer-btn:hover {
  background-color: #2196F3;
}

.timer-btn:active {
  background-color: #E9B427;
}



/* Calculator Style */
.calculator {
  position: absolute;
  width: 100%;
  height: 80%;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: 0;
  background-color: #252525;
  color: greenyellow;
  text-align: right;
  font-family: 'Varela Round', sans-serif;
}


.operator {
  background-color: #337cac;
  color: #fff;
  font-size: 16px;
  height: 40px;
  font-size: 20px;
}

.num-key {
  background-color: #2B303C;
  color: #FFF;
  font-size: 30px;
  font-family: 'Varela Round', sans-serif;
  border: 0;
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.decimal {
  background-color: #337cac;
}

.equal-sign {
  background-color: #337cac;
  border: 0;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 7 / 5;
}

.equal-sign:hover {
  background-color: #4e9ed4;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.operator {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

.all-clear {
  background-color: #D73234;
}

.all-clear:hover {
  background-color: #E9B427;
}

.operator:hover {
  background-color: #2B303C;
}

.num-key:hover {
  background-color: #2196F3;
}

.all-clear,
.num-key,
.operator,
.equal-sign {
  cursor: pointer;
}

/* Piano app */
#piano-app {
  display: none;
  position: fixed;
  top: 20%;
  left: 2%;
  width: 700px;
  height: 260px;
}

.piano-content {
  background-color: #000;
}

.white {
  fill: white;
  stroke: black;
  stroke-width: 2;
  cursor: pointer;
}

.white:hover {
  fill: #2196F3;
  stroke: black;
  cursor: pointer;
  stroke-width: 2;
}

.black {
  fill: black;
  stroke-width: 2;
  cursor: pointer;
}

.black:hover {
  fill: #2196F3;
  stroke: lightblue;
  stroke-width: 2;
}

.piano {
  margin-left: -170px;
}

i {
  pointer-events: none;
}

.code-options {
  display: none;
}

.run-btn {
  width: 90px;
  height: 34px;
  font-size: 18px;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  background-color: #2B303C;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: 2px;
  padding-top: 2px;
}

.run-btn:hover {
  background-color: greenyellow;
  color: #2B303C;
}

/* Settings Page Layout */
.settings-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.settings-options>p {
  font-size: 26px;
  margin: 10px;
}

.settings-options>p>span {
  color: #2196F3;
}

.settings-picture {
  width: 150px;
  height: 150px;
  border: 0;
  border-radius: 100px;
  background-color: lightgray;
  margin: 0 40px;
  cursor: pointer;
}

#wallpaper-form {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: inherit;
  background-color: #2B303C;
  padding: 10px 100px 10px 100px;
  border-radius: 30px;
}

#wallpaper-form>p {
  font-size: 26px;
  margin: 10px;
}

/* Weather Widget */
#weather {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: 10%;
  z-index: -1;
}

.weather-temp {
  font-family: 'Varela Round', sans-serif;
  font-size: 80px;
  color: #FFF;
  /* position: absolute;
  right: 100%;
  top: 10%; */
}

.weather-icon {
  /* position: absolute;
  top: 10%;
  right: 40%; */
  width: 250px;
  filter: invert(100%);
}

/* Internet Browser */
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

#url-bar {
  font-family: 'Varela Round', sans-serif;
  font-size: 24px;
  width: 100%;
  border: 0;
  color: #2196F3;
  padding-left: 20px;
}

.search-btn {
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-family: 'Varela Round',
    sans-serif;
  font-size: 20px;
  border: 0;
  border-radius: 20px;
  background-color: #2196F3;
  color: #FFF;
}

.search-btn:hover {
  background-color: #E9B427;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 20px;
}


/* Task Tracker Styles */
/* Buttons */
.new-task-button,
.task-edit-save,
.task-delete,
.task-submit {
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  border: 0;
  border-radius: 20px;
  background-color: #2B303C;
  color: #FFF;
}

.new-task-button:hover,
.task-edit-save:hover,
.task-submit:hover {
  background-color: #2196F3;
}

.task-delete:hover {
  background-color: rgb(134, 35, 36);
}

.task-edit-save {}

.task-delete {
  width: 60px;
  height: 20px;
  font-size: 12px;
  margin-left: 20px;
}

/* List Items */
.show-task {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  padding: 10px;

}

.show-task:hover {
  color: #2196F3;
  cursor: pointer;
}

.task-headline {
  font-family: 'Varela Round', sans-serif;

}

.new-task-activity,
.new-task-description,
.description-area {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  /* background-color: #2196F3; */
}

.task-tracker-content {
  margin: 30px;
}

#New-Task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}